.container-coffe {
  display: flex;
  width: 1440px;
  height: 1645px;
  padding: 32px 160px 157px 160px;
  flex-direction: column;
  align-items: flex-start;
  gap: 54px;
  flex-shrink: 0;
}

.container-list {
  width: 1120px;

  flex-shrink: 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card-coffe {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  align-items: center;
  width: 256px;
  height: 310px;
  flex-shrink: 0;
  background-color: #F3F2F2;
}

.card-coffe img {
  margin-top: -2rem;

}

.button-quantity {
  background-color: #E6E5E5;
  border: none;
}

.cart-add-quantity {
  display: flex;
  width: 208px;
  justify-content: space-between;
  align-items: center;
}


.button-add-cart {
  background-color: #4B2995;
  border-radius: 5px;
  padding: 8px;
  border: none;
}

.button-add-cart img {
  margin: auto;
}

.container-quantity {
  display: flex;
  height: 38px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: #E6E5E5;
}