.container-coffe { 
    display: flex;
    width: 1440px;
    height: 1645px;
    padding: 32px 160px 157px 160px;
    flex-direction: column;
    align-items: flex-start;
    gap: 54px;
    flex-shrink: 0;
}

.container-list {
    width: 1120px;
    height: 1360px;
    flex-shrink: 0;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.card-coffe {
display: flex;
flex-direction: column;
border-top-right-radius: 50px;
border-bottom-left-radius: 50px;
align-items: center;
width: 256px;
height: 310px;
flex-shrink: 0;
background-color: #E6E5E5;
}

.card-coffe  img {
  margin-top: -2rem;

}