.header-coffe {
    display: flex; 
    gap: 50%;
    justify-content: space-around;
}

.container-local {
    display: flex;
    align-items: center;
    gap: 14px;  
}

.logo-car {
    background-color: #F1E9C9;
    border-radius: 5px;
    padding: 10px;
    width: 30px;
}


.local {
    display: flex;
    background-color: #EBE5F9;
    width: 150px;
    height: 38px;
    color: #4B2995;
    padding: 8px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 18.2px */
}